<!DOCTYPE html>
<html>
<head>
  <title>SuperProxy</title>
  <link href='//unpkg.com/element-ui@1.4.12/lib/theme-default/index.css' rel="stylesheet">
  <link href='//unpkg.com/world-flags-sprite@0.0.2/stylesheets/flags16.css' rel="stylesheet">
  <style>
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    [v-cloak] {
      display: none;
    }
    .green {
      color: #0faa54;
    }
    .red {
      color: #ff4949;
    }
    .yellow {
      color: #f7ba2a;
    }
    header {
      background-color: #324157;
      display: flex;
      align-items: center;
    }
    header .logo {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      color: white;
      padding-left: 20px;
      padding-right: 20px;
    }
    header .logo span {
      font-weight: bold;
      margin-right: 8px;
      padding-left: 4px;
      padding-right: 4px;
      font-size: 20px;
      text-shadow: 2px 2px #324157;
      background-color: #ce3939;
    }
    header .el-menu-item {
      padding: 0 10px;
    }
    header .status {
      margin-left: 20px;
    }
    header .status span {
      color: #bfcbd9;
      padding-left: 6px;
      padding-right: 6px;
      font-size: 14px;
      white-space: nowrap;
      cursor: help;
    }
    .status-tooltip p {
      margin-top: 2px;
      margin-bottom: 2px;
    }
    header .actions {
      margin-left: 20px;
    }
    .table-nav {
      margin-top: 14px;
      margin-bottom: 14px;
      min-height: 36px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    .table-nav .el-radio-group {
      margin-right: 15px;
      margin-left: -15px;
    }
    .table-nav .search {
      max-width: 300px;
    }
    .table-nav .checkbox-first {
      margin-left: 15px;  /* as margin for other checkboxes */
    }
    .table-nav .el-checkbox-group {
      margin-right: 15px;
    }
    .table-nav .pagination {
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .table-nav .total {
      color: #48576a;
      border: 1px solid #d1dbe5;
      border-radius: 0 2px 2px 0;
      text-align: center;
      font-size: 13px;
      height: 26px;
      line-height: 26px;
      padding-left: 6px;
      padding-right: 6px;
    }
    .el-table {
      font-size: 12px;
    }
    .el-table .cell {
      padding-left: 8px;
      padding-right: 8px;
    }
    .el-table .el-table__expanded-cell {
      padding: 5px 10px;
    }
    .el-table .el-table__expanded-cell p {
      margin: 4px;
    }
    .el-table.inner-table td {
      height: 32px;
    }
    .dropdown-menu-mini {
      font-size: 12px;
    }
    .dropdown-menu-small {
      font-size: 14px;
    }
    footer {
      padding-top: 12px;
      font-size: 8px;
      text-align: center;
      width: 100%;
    }
  </style>
</head>
<body class="f16">  <!-- flags sizes -->
  <div id="app" v-cloak>
    <header>
      <div class="logo"><span>&laquo;S&raquo;</span> SuperProxy</div>
      <el-menu theme="dark" mode="horizontal" :router="true" :default-active="$route.path">
        <el-menu-item index="/">Proxies</el-menu-item>
        <el-menu-item index="/requests">Requests</el-menu-item>
        <el-menu-item index="/countries">Countries</el-menu-item>
      </el-menu>
      <el-tooltip>
        <div slot="content" class="status-tooltip">
          <p>
            Active: {{status.active|formatInt}}, Rest: {{status.rest|formatInt}},
             Blacklist: {{status.blacklist|formatInt}},
             In use: {{status.in_use|formatInt}}, Waiting: {{status.waiting|formatInt}},
          </p>
          <p>
            Need update: {{status.need_update}}, Fetcher: {{status.fetcher}},
            Checker: {{status.checker}}{{status.checker && ` (${status.checker_processing})`}},
          </p>
          <p>
            Started at: {{status.started_at | formatTime}}
          </p>
          <p>
            Fetch started at: {{status.fetcher_started_at | formatTime}},
            Fetch ready: {{status.fetcher_ready}}
          </p>
          <p v-if="status.extra">
            {{ status.extra }}
          </p>
        </div>
        <div class="status" @click="statusUpdate">
          <span><i class="el-icon-check green"></i> {{status.active | formatInt}} </span>
          <span><i class="el-icon-date yellow"></i> {{status.rest | formatInt}} </span>
          <span><i class="el-icon-close red"></i> {{status.blacklist | formatInt}} </span>
          <span><i class="el-icon-upload green"></i> {{status.in_use | formatInt}} </span>
          <span><i class="el-icon-time yellow"></i> {{status.waiting | formatInt}} </span>
        </div>
      </el-tooltip>
      <el-dropdown class="actions" @command="handleAction">
        <el-button type="primary" size="small">
          Actions<i class="el-icon-caret-bottom el-icon--right"></i>
        </el-button>
        <el-dropdown-menu slot="dropdown" class="dropdown-menu-small">
          <el-dropdown-item v-for="action in status.actions_proxy"
            :command="{action: action}"
            >
            {{action}}
          </el-dropdown-item>
          <el-dropdown-item v-for="action in status.actions"
            :command="{action: action}"
            >
            {{action}}
          </el-dropdown-item>
          <!--<el-dropdown-item>Add proxies</el-dropdown-item>-->
        </el-dropdown-menu>
      </el-dropdown>
    </header>
    <main>
      <router-view></router-view>
    </main>
    <footer>
      <div>If you can read this you don't need glasses</div>
    </footer>
  </div>

  <template id="proxies-component">
    <div>
      <div class="table-nav">
        <el-input class="search" placeholder="example: 'HTTP+UA hidester+:8080'" icon="search"
          v-model="search"
          @input="proxiesUpdate"
          >
        </el-input>

        <div class="status">
          <el-checkbox-group v-model="status" :min="1" @input="proxiesUpdate">
            <el-checkbox class="checkbox-first" label="active">active</el-checkbox>
            <el-checkbox label="rest">rest</el-checkbox>
            <el-checkbox label="blacklist">blacklist</el-checkbox>
          </el-checkbox-group>
        </div>

        <div class="pagination" v-if="proxies">
          <el-pagination
             @size-change="proxiesUpdate"
             @current-change="proxiesUpdate"
             :current-page.sync="page"
             :page-size="per_page"
             layout="prev, pager, next"
             :total="total">
          </el-pagination>
          <span class="total"> {{total | formatInt}} </span>
        </div>
      </div>
      <el-table stripe border :data="proxies"
        :default-sort="sort" @sort-change="sortChange"
        >
        <el-table-column type="expand">
          <template scope="{row}">
            <el-dropdown  @command="$root.handleAction">
              <el-button type="primary" size="mini">
                Actions<i class="el-icon-caret-bottom el-icon--right"></i>
              </el-button>
              <el-dropdown-menu slot="dropdown" class="dropdown-menu-mini">
                <el-dropdown-item v-for="action in $root.status.actions_proxy"
                  :command="{action: action, addr: row.addr}"
                  >
                  {{action}}
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
            <p>
              Success at: {{row.success_at | formatTime}}
              [{{ (row.success_at && row.success_at > row.fetch_at) ? 'local' : 'no-local' }}]
            </p>
            <p>Fail at: {{row.fail_at | formatTime}} [{{row.fail}}]</p>
            <p>Rest till: {{row.rest_till | formatTime}}</p>
            <p>Fetch at: {{row.fetch_at | formatTime}} [{{row.fetch_sources.join(' ')}}]</p>

            <el-table :data="row.history" v-if="row.history" :show-header="false"
              class="inner-table">
              <el-table-column width="86px">
                <template scope="{row}">
                  <el-tag
                    :type="{FAIL: 'danger', SUCCESS: 'success', REST: 'warning'}[row.result]">
                    {{row.result}}
                  </el-tag>
                </template>
              </el-table-column>
              <el-table-column>
                <template scope="{row}">
                  {{row.time | formatTime}}
                </template>
              </el-table-column>
              <el-table-column prop="reason" show-overflow-tooltip>
              </el-table-column>
              <el-table-column prop="request_ident">
              </el-table-column>
            </el-table>

          </template>
        </el-table-column>
        <el-table-column label="Addr" prop="addr">
          <template scope="{row}">
            <span :class="{active: 'green', rest: 'yellow', blacklist: 'red'}[row.status]">
              {{row.addr}}
            </span>
          </template>
        </el-table-column>
        <el-table-column label="Types" width="120px"
          :formatter="(p) => p.types.join(' ')">
        </el-table-column>
        <el-table-column label="Country" prop="country" width="75px">
          <template scope="{row}">
            <span :class="row.country ? 'flag ' + row.country.toLowerCase() : ''"></span>
            {{row.country}}
          </template>
        </el-table-column>
        <el-table-column label="Speed" prop="speed" sortable="custom">
        </el-table-column>
        <el-table-column label="Used time" prop="used_at" sortable="custom">
          <template scope="{row}">
            <span v-if="row.fail_at && (!row.success_at || row.fail_at > row.success_at)"
              class="red">
              {{row.fail_at.fromNow()}} [{{row.fail}}]
            </span>
            <span v-else :class="{green: row.success_at && row.success_at > row.fetch_at}">
              {{row.success_at && row.success_at.fromNow()}}
            </span>
          </template>
        </el-table-column>
        <el-table-column label="Fetch Sources"
          :formatter="(p) => p.fetch_sources.join(' ')">
        </el-table-column>
      </el-table>
    </div>
  </template>

  <template id="requests-component">
    <div>
      <div class="table-nav">
        <el-radio-group v-model="type"
          @input="(val) => val === 'history' ? historyUpdate() : waitingUpdate()"
          >
          <el-radio label="history" class="checkbox-first">history</el-radio>
          <el-radio label="waiting">waiting</el-radio>
        </el-radio-group>
        <el-input class="search" placeholder="example: 'HTTP+UA hidester+:8080'" icon="search"
          v-if="type == 'history'" v-model="search" @input="historyUpdate"
          >
        </el-input>
        <div class="status" v-if="type == 'history'">
          <el-checkbox-group v-model="result" :min="1" @input="historyUpdate">
            <el-checkbox class="checkbox-first" label="success">success</el-checkbox>
            <el-checkbox label="fail">fail</el-checkbox>
            <el-checkbox label="rest">rest</el-checkbox>
          </el-checkbox-group>
        </div>
        <div class="pagination" v-if="type == 'history' && history">
          <el-pagination @size-change="historyUpdate" @current-change="historyUpdate"
             :current-page.sync="page" :page-size="per_page" layout="prev, pager, next"
             :total="total">
          </el-pagination>
        </div>
      </div>
      <el-table stripe border :data="history" v-show="type === 'history'">
        <el-table-column label="Result" prop="result" width="86px">
          <template scope="{row}">
            <el-tag
              :type="{FAIL: 'danger', SUCCESS: 'success', REST: 'warning'}[row.result]">
              {{row.result}}
            </el>
          </template>
        </el-table-column>
        <el-table-column label="Time" prop="time" :formatter="(h) => h.time.fromNow()">
        </el-table-column>
        <el-table-column label="Reason" prop="reason" show-overflow-tooltip>
        </el-table-column>
        <el-table-column label="Request ident" prop="request_ident">
        </el-table-column>
        <el-table-column label="Addr" prop="addr">
        </el-table-column>
        <el-table-column label="Country" prop="country" width="75px">
          <template scope="{row}">
            <span :class="row.country ? 'flag ' + row.country.toLowerCase() : ''"></span>
            {{row.country}}
          </template>
        </el-table-column>
      </el-table>
      <el-table stripe border :data="waiting"  v-show="type === 'waiting'">
        <el-table-column label="Since" prop="since" :formatter="(w) => w.since.fromNow()">
        </el-table-column>
        <el-table-column label="Thread ident" prop="thread_ident">
        </el-table-column>
        <el-table-column label="Request ident" prop="request_ident">
        </el-table-column>
        <el-table-column label="Params" prop="params">
        </el-table-column>
      </el-table>
    </div>
  </template>

  <template id="countries-component">
    <div>
      <div class="table-nav">
        <el-input class="search" placeholder="example: UA US" icon="search"
          v-model="search"
          @input="searchUpdate"
          >
        </el-input>
      </div>
      <el-table stripe border :data="filteredCountries"
        @row-click="row => $router.push('/?search=' + row.country)">
        <el-table-column label="Country" prop="country" width="75px">
          <template scope="{row}">
            <span :class="row.country ? 'flag ' + row.country.toLowerCase() : ''"></span>
            {{row.country}}
          </template>
        </el-table-column>
        <el-table-column label="Active" prop="active" sortable></el-table-column>
        <el-table-column label="Rest" prop="rest" sortable></el-table-column>
        <el-table-column label="Blacklist" prop="blacklist" sortable></el-table-column>
        <el-table-column label="Average speed" prop="speed" sortable></el-table-column>
      </el-table>
    </div>
  </template>

  <script src="//unpkg.com/moment@2.18.1/min/moment.min.js"></script>
  <script src="//unpkg.com/js-cookie@2.2.0/src/js.cookie.js"></script>
  <script src="//unpkg.com/vue@2.4.4/dist/vue.min.js"></script>
  <script src="//unpkg.com/vue-router@2.7.0/dist/vue-router.min.js"></script>
  <script src="//unpkg.com/element-ui@1.4.6/lib/index.js"></script>
  <script src="//unpkg.com/element-ui@1.4.6/lib/umd/locale/en.js"></script>
  <script>
    var supportsES6 = function () {
      try {
        new Function("(a = 0) => a");
        return true;
      }
      catch (err) {
        return false;
      }
    }();
    if (!supportsES6 || !window.fetch) {
      var youSucks = 'Your browser doesn\'t support ES2015 or Fetch API. You sucks! Go away!';
      document.body.innerHTML = youSucks;
      throw new Error(youSucks);
    };
  </script>
  <script>
    ELEMENT.locale(ELEMENT.lang.en)
    moment.relativeTimeThreshold('ss', 0)

    function _parseProxyHistoryRecord (h) {
      return {
        time: moment.utc(h[0]).local(),
        result: h[1],
        reason: h[2],
        request_ident: h[3],
        addr: (h.length > 4) ? h[4] : null,
        country: (h.length > 4) ? h[5] : null,
      }
    }

    const ProxiesComponent = {
      template: '#proxies-component',

      data () {
        return {
          proxies: null,
          status: ['active', 'rest', 'blacklist'],
          search: '',
          sort: {prop: 'used_at', order: 'descending'},
          page: 1,
          per_page: 50,
          total: null,
        }
      },

      created () {
        const qs = this.$route.query
        if (qs.status) this.status = qs.status.split(',')
        if (qs.search) this.search = decodeURIComponent(qs.search)
        if (qs.page) this.page = parseInt(qs.page)
        if (qs.per_page) this.per_page = parseInt(qs.per_page)
        if (qs.sort) {
          if (qs.sort[0] === '-') {
            this.sort = {prop: qs.sort.substr(1), order: 'descending'}
          } else {
            this.sort = {prop: qs.sort, order: 'ascending'}
          }
        }
        // update will be initialized with this.sortChange on el-table initialization
      },

      methods: {
        proxiesUpdate () {
          const qs = {
            status: this.status.join(','),
            search: encodeURIComponent(this.search),
            sort: (this.sort.order ?
                   ((this.sort.order == 'descending' ? '-' : '') + this.sort.prop) : ''),
            page: this.page,
            per_page: this.per_page,
          }
          this.$router.push({query: qs})
          this.$root.fetch('/proxies', {method: 'GET', qs}).then(data => {
            now = moment.utc()
            data.proxies.forEach(p => {
              ['rest_till', 'success_at', 'fail_at', 'fetch_at'].forEach(k => {
                if (p[k]) p[k] = moment.utc(p[k]).local()
              })
              if (p.history) p.history = p.history.map(_parseProxyHistoryRecord)
              p.types.sort()
              p.fetch_sources.sort()
              if (p.blacklist) p.status = 'blacklist'
              else if (p.rest_till && p.rest_till > now) p.status = 'rest'
              else p.status = 'active'
            })
            this.proxies = data.proxies
            this.total = data.total
          })
        },

        sortChange ({prop, order}) {
          this.sort = {prop, order}
          this.page = 1
          this.proxiesUpdate()
        },
      },
    }

    const RequestsComponent = {
      template: '#requests-component',

      data () {
        return {
          history: null,
          waiting: null,
          type: 'history',
          search: '',
          result: ['success', 'fail', 'rest'],
          page: 1,
          per_page: 50,
          total: null,
        }
      },

      created () {
        const qs = this.$route.query
        if (qs.type) this.type = qs.type
        if (this.type === 'history') {
          if (qs.result) this.result = qs.result.split(',')
          if (qs.search) this.search = decodeURIComponent(qs.search)
          if (qs.page) this.page = parseInt(qs.page)
          if (qs.per_page) this.per_page = parseInt(qs.per_page)
          this.historyUpdate()
        } else this.waitingUpdate()
      },

      methods: {
        historyUpdate () {
          const qs = {
            result: this.result.join(','),
            search: encodeURIComponent(this.search),
            page: this.page,
            per_page: this.per_page,
          }
          this.$router.push({query: Object.assign({type: 'history'}, qs)})
          this.$root.fetch('/history', {method: 'GET', qs}).then(data => {
            this.history = data.history.map(_parseProxyHistoryRecord)
            this.total = data.total
          })
        },

        waitingUpdate () {
          this.$router.push({query: {type: 'waiting'}})
          this.$root.fetch('/waiting', {method: 'GET'}).then(data => {
            this.waiting = Object.keys(data).map(key => {
              return Object.assign(data[key], {
                thread_ident: key,
                since: moment.utc(data[key].since).local(),
                params: JSON.stringify(data[key].params),
              })
            })
          })
        }
      },
    }

    const CountriesComponent = {
      template: '#countries-component',

      data () {
        return {
          search: '',
          countries: [],
          filteredCountries: [],
        }
      },

      created () {
        const qs = this.$route.query
        if (qs.search) this.search = decodeURIComponent(qs.search)
        this.countriesUpdate()
      },

      methods: {
        countriesUpdate () {
          this.$root.fetch('/countries', {method: 'GET'}).then(data => {
            this.countries = Object.keys(data).map(k => {
              const stats = data[k]
              stats.country = k
              return stats
            })
            this.searchUpdate()
          })
        },

        searchUpdate () {
          const qs = {
            search: encodeURIComponent(this.search),
          }
          this.$router.push({query: qs})
          if (!this.search) {
            this.filteredCountries = this.countries
            return
          }
          this.filteredCountries = this.countries.filter(c => {
            return this.search.toUpperCase().includes(c.country)
          })
        },
      },
    }

    Vue.filter('formatTime', v => v ? `${v.format()} (${v.fromNow()})` : '')
    Vue.filter('formatInt', v => v ? v.toLocaleString() : v)
    new Vue({
      el: '#app',
      router: new VueRouter({
        mode: 'history',
        base: '/superproxy/',
        routes: [
          {path: '/', component: ProxiesComponent},
          {path: '/requests', component: RequestsComponent},
          {path: '/countries', component: CountriesComponent},
          {path: '*', redirect: '/'},
        ],
      }),

      data () {
        return {
          status: {actions: [], actions_proxy: []},
        }
      },

      created () {
        // hack to get Basic Authorization sent by browser to server from cookies
        this.authorization = Cookies.get('Authorization')
        this.statusUpdate()
      },

      methods: {
        statusUpdate () {
          this.fetch('/status', {method: 'GET'}).then(data => {
            if (data.fetcher_started_at) {
              data.fetcher_started_at = moment.utc(data.fetcher_started_at).local()
            }
            data.started_at = moment.utc(data.started_at).local()
            this.status = data
          })
        },

        handleAction (action) {
          const runAction = (action, params) => {
            if (params) action = Object.assign({}, action, params)
            this.fetch('/action', {method: 'POST', body: action}).then(() => {
              this.$notify.success(`Success: ${action.action}`)
            })
          }

          if (action.addr) {
            runAction(action)

          } else if (action.action === 'fetch') {
            this.$confirm('Are you sure you want to fetch proxies?').then(() => {
              runAction(action)
            })

          } else if (action.action === 'recheck') {
            this.$prompt('Are you sure you want to recheck proxies? ' +
              'Enter used_at_before delta (example: "1h" or "1h30m") ' +
              'to skip recently used proxies, leave empty to recheck all.').then(data => {
              runAction(action, {used_at_before: data.value || '0s'})
            })

          } else if (action.action === 'clear_pool_manager') {
            this.$prompt('Are you sure you want to clear proxy pool managers? ' +
              'Enter used_at_before delta (example: "1h" or "1h30m") ' +
              'to skip recently used proxies, leave empty to clear all.').then(data => {
              runAction(action, {used_at_before: data.value || '0s'})
            })

          } else if (action.action === 'forget_blacklist') {
            this.$prompt('Are you sure you want to clear blacklisted proxies? ' +
              'Enter used_at_before delta (example: "1h" or "1h30m") ' +
              'not to clear recently used proxies, leave empty to clear all.').then(data => {
              runAction(action, {used_at_before: data.value || '0s'})
            })
          }

          else this.$confirm(`Run action ${action.action}?`).then(() => runAction(action))
        },

        fetch (url, params) {
          if (params.qs) {
            url += '?' + (Object.keys(params.qs)
                          .map(k => `${k}=${params.qs[k]}`)
                          .join('&'))
            delete params.qs
          }
          params.headers = {}
          if (this.authorization) params.headers['Authorization'] = this.authorization
          if (params.body) {
            params.headers['Content-Type'] = 'application/json'
            params.body = JSON.stringify(params.body)
          }
          return window.fetch(url, params).then(resp => {
            if (resp.status === 422) {
              return resp.text().then(this.error)
            } else if (resp.status != 200) {
              this.error(`${url} fetch error: ${resp.status} ${resp.statusText}`)
            } else {
              return resp.json().catch(error => {
                this.error(`${url} JSON decode error: ${error}`)
              })
            }
          })
        },

        error (message) {
          this.$notify.error({title: 'Error', duration: 0, message})
          throw new Error(message)
        },
      },
    })
  </script>
</body>
</html>
